<footer class="footer">
  <div class="container footer-container">
    <div class="footer-row">
      <div class="footer-content-social">
        <a class="header-logo footer-logo" href="./index.html"
          ><img
            class="header-logo-icon footer-logo-icon"
            src="/img/logo.svg"
            alt="logo"
            width="40"
            height="36"
          />Product</a
        >
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a class="footer-social-link" href="#!">
              <svg class="footer-social-icon" width="24" height="24">
                <use href="/img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-link" href="#!">
              <svg class="footer-social-icon" width="24" height="24">
                <use href="/img/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-link" href="#!">
              <svg class="footer-social-icon" width="24" height="24">
                <use href="/img/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-content-resource">
        <b class="footer-subtitle">Resource</b>
        <ul class="footer-resourse-list">
          <li class="footer-resourse-item">
            <a class="footer-resourse-link" href="#!">About Us</a>
          </li>
          <li class="footer-resourse-item">
            <a class="footer-resourse-link" href="#!">Blog</a>
          </li>
          <li class="footer-resourse-item">
            <a class="footer-resourse-link" href="#!">Contact</a>
          </li>
          <li class="footer-resourse-item">
            <a class="footer-resourse-link" href="#!">FAQ</a>
          </li>
        </ul>
      </div>

      <div class="footer-content-legal">
        <b class="footer-subtitle">Legal Stuff</b>
        <ul class="footer-legal-list">
          <li class="footer-legal-item">
            <a class="footer-legal-link" href=""> Disclaimer</a>
          </li>
          <li class="footer-legal-item">
            <a class="footer-legal-link" href="">Financing</a>
          </li>
          <li class="footer-legal-item">
            <a class="footer-legal-link" href="">Privacy Policy</a>
          </li>
          <li class="footer-legal-item">
            <a class="footer-legal-link" href="">Terms of Service</a>
          </li>
        </ul>
      </div>

      <div class="footer-content-sign">
        <label for="phone" class="footer-subtitle footer-label"
          >Knowing you're always on the best energy deal.</label
        >

        <div class="footer-phone">
          <input
            id="phone"
            class="footer-input"
            name="footer-input"
            type="tel"
            placeholder="Enter your phone number"
          />
          <svg class="footer-phone-icon" width="16" height="24">
            <use href="/img/symbol-defs.svg#icon-mobile-screen"></use>
          </svg>
        </div>
        <button class="footer-input-btn" type="button">Sign up Now</button>
      </div>
    </div>
    <p class="footer-text">Made With Love By Figmaland All Right Reserved</p>
  </div>
</footer>
