.footer-container {
  display: flex;
  flex-direction: column;
  padding: 0;

}

.footer-row {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
  justify-content: center;
}

.footer-content-social {
  display: flex;
  flex-direction: column;
  row-gap: 18px;

}

.footer-logo {
  margin: 0;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #edfffc;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms ease-in-out;
}

.footer-social-item:hover {
  background-color: #02897a;

}

.footer-social-item:hover>.footer-social-link .footer-social-icon {
  fill: #edfffc;

}


.footer-social-icon {
  fill: #02897a;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms ease-in-out;

}


.footer-content-resource, .footer-content-legal {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  text-align: center;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: center;
}

.footer-resourse-link, .footer-legal-link {

  font-size: 16px;
  line-height: 2.1875;
  color: #22343d;

  transition: color 250ms ease-in-out;
}

.footer-resourse-link:hover, .footer-legal-link:hover,
.footer-resourse-link:focus, .footer-legal-link:focus {
  color: #02897a;
}

.footer-legal-link {
  margin-bottom: 32px;
}



.footer-content-sign {
  max-width: 325px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.footer-label {
  max-width: 280px;
}

.footer-phone {
  position: relative;

}

.footer-phone:hover>.footer-input::placeholder {
  color: #01574d;
}

.footer-phone:hover>.footer-input {
  border-color: #01574d;
}

.footer-phone:hover>.footer-phone-icon {
  fill: #01574d;
}

.footer-input {
  display: block;

  width: 325px;
  height: 48px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;

  padding-left: 42px;


  transition: border-color 250ms ease-in-out;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;

  transition: color 250ms ease-in-out;
}




.footer-phone-icon {
  fill: #02897a;
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms ease-in-out;
}


.footer-input-btn {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;

  border-radius: 4px;
  width: 131px;
  height: 39px;
  margin-top: 25px;

  background-color: #02897a;

  transition: background-color 250ms ease-in-out;
}

.footer-input-btn:hover, .footer-input-btn:focus {
  background-color: #01574d;
}

.footer-text {

  font-size: 16px;
  line-height: 1.875;
  margin: 0 auto;
  margin-top: 10px;
}

@media screen and (min-width:768px) {
  .footer-row {
    flex-direction: row;
  }

  .footer-social-list {

    justify-content: start;

  }

  .footer-content-social {
    margin-right: 146px;
  }

  .footer-content-resource {
    text-align: left;
    margin-right: 153px;
  }

  .footer-content-legal {
    margin-right: 83px;
    text-align-last: left;
  }

  .footer-content-sign {

    align-items: start;


  }

  .footer-subtitle {
    text-align: left;
  }
}