.header-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;


  display: flex;
  align-items: center;
  gap: 15px;

  transition: color 250ms ease-in-out;
}

.header-menu-list, .header-authorization-list {
  display: none;
}


.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



@media screen and (min-width:768px) {
  .header-menu-list, .header-authorization-list {
    display: block;
  }

  .header-menu {
    gap: 237px;
  }

  .header-menu-list {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  .header-menu-link {
    display: block;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    padding: 26px 0;
    transition: color 250ms ease-in-out;
  }

  .header-logo:hover, .header-logo:focus, .header-menu-link:hover, .header-menu-link:focus {
    color: #02897A;
  }

  .header-menu-link.semibold {
    font-weight: 600;
  }

  .header-authorization-list {
    display: flex;
    gap: 21px;
  }

  .header-container {
    display: flex;
    align-items: center;

    justify-content: space-between;

  }

  .header-authorization-btn {
    font-weight: 600;
    font-size: 16px;
    text-align: center;


    padding: 9px 24px;
    border-radius: 4px;

    transition: box-shadow 250ms ease-in-out;
  }

  .header-authorization-btn.in {
    background-color: transparent;
    border: 1px solid #BCD0E5;
    color: #173a56;
  }

  .header-authorization-btn.up {
    background-color: #02897A;
    border: 1px solid #02897A;
    color: #ffffff;
  }

  .header-authorization-btn:hover, .header-authorization-btn:focus {
    box-shadow: inset 0 0 4px 1px #000;
  }
}